	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>No Suggestion Exact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../Static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../Static/css/bootstrap-grid.min.css" rel="stylesheet">
		<link href="../Static/css/bootstrap-reboot.min.css" rel="stylesheet">
		<link href="../Static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../Static/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="../Static/css/custom.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
	</head>
	<body>
		<div id="big" class="container" align="center">
		<p class="text-center" id="header">Buy and Sell Stocks and CryptoCoins</p>
		<h1 class="text-center">PINK EXCHANGE</h1>
		<spacer></spacer>
		
			<!-- Submit bar -->
			
				<div class=".float-center">
					<div class="col-lg-6 col-lg-offset-3">
					<form method="POST">
						<div class="input-group">
						<input type="text" class="form-control" placeholder="Insert the commodity you are looking for...">
						<span class="input-group-btn">
							<input class="btn btn-default" type="button" value="Submit" onclick="return CCID_input()">
						</span>
						</div>
						</form>
					</div>
				</div>
				

        <div class="container" align="center">
		<div class="row">
					
						
							<div class="col">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">Buy</button>
								</span>
								
							</div>
							<div class="col">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">Sell</button>
								</span>
								
							</div>
							
						</div>
					
				</div>
		</div>
		

		
		<!--  Footer -->
		<div class="footer">
				<div class="row content">
					<div class="col-md-3 col-sm-6">
						<p class="copyright-text" id="footer" align="left"><i class="fa fa-envelope-o"></i> Contact US</p>
					</div>
					<div class="col-md-6 col-sm-6" align="center">
						<p class="copyright-text" id="footer">© UBC 2018 CPSC304 PROJECT </p>
					</div>
					<div class="col-md-3 col-sm-6"align="right">
						<p class="copyright-text" id="footer">BCDF TEAM</p>
					</div>
				</div>
		</div>
		<script src="../Static/js/bootstrap.js"></script>
		<script src="../Static/js/bootstrap.min.js"></script>
		<script src="../Static/js/jquery-3.2.1.min.js"></script>
		<script script language="javascript" type="text/javascript">
			function CCID_input()
			{
				 window.location.href = "SecondPage.html";
			}
		</script	
	</body>

	</html>
