<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PINK EXCHANGE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../Static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../Static/css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="../Static/css/bootstrap-reboot.min.css" rel="stylesheet">
  <link href="../Static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../Static/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="../Static/css/custom.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  </style>
</head>
<body>
    <!-- Header  -->
  <div class="padded">
    <!--Syggestion title  -->


    <div class="spacer"></div>
    <!--Exact Match  -->
    <div class="row">
      <div class="col-lg-6" align="left">
        <div class="col-lg-12"> <!-- Exact Match panel-->
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Sell commodity</h5>
              <form>
                      <div class="form-group row">
                      <label for="example-text-input" class="col-2 col-form-label">Commodity</label>
                      <div class="col-10">
                      <input class="form-control" type="text" value="Commodity" id="example-text-input">
                      </div>
                      </div>
                      <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label">Exchange</label>
                      <div class="col-10">
                      <input class="form-control" type="search" value="Exchange" id="example-search-input">
                      </div>
                      </div>

                      <div class="form-group row">
                      <label for="example-date-input" class="col-2 col-form-label">Date</label>
                      <div class="col-10">
                      <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                      </div>
                      </div>
                      <div class="form-group row">
                      <label for="example-time-input" class="col-2 col-form-label">Time</label>
                      <div class="col-10">
                      <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                      </div>
                      </div>
                      <button type="submit" class="btn btn-defoult" align"right">Sell</button>
                      </form>


            </div>

        </div><!-- ///Exact Match panel-->
      </div>

    </div>	<!--// Exact Match  -->



    <!--Additional Match  -->

  </div>

  <!--  Footer -->
  <div class="footer">
      <div class="row content">
        <div class="col-md-3 col-sm-6">
          <p class="copyright-text" id="footer" align="left"><i class="fa fa-envelope-o"></i> Contact US</p>
        </div>
        <div class="col-md-6 col-sm-6" align="center">
          <p class="copyright-text" id="footer">© UBC 2018 CPSC304 PROJECT </p>
        </div>
        <div class="col-md-3 col-sm-6"align="right">
          <p class="copyright-text" id="footer">BCDF TEAM</p>
        </div>
      </div>
  </div>


<script>

  </script>

</body>

</html>
